@import "tailwindcss";

/* Global Styles */

body {
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
